parameters:
    level: 5
    paths:
        - ./
    excludePaths:
        - ./shops
        - ./vendor
        - ./node_modules
    bootstrapFiles:
        - ./phpstanBootstrap-6.2.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - message: "#^Access to an undefined property OxidEsales\\\\Eshop\\\\Application\\\\Model\\\\User::\\$#"
        - message: "#^Access to an undefined property OxidEsales\\\\Eshop\\\\Application\\\\Model\\\\Address::\\$#"
        - message: "#^Access to an undefined property OxidEsales\\\\Eshop\\\\Application\\\\Model\\\\Country::\\$#"